body {
    background-color: #f5deb3;
    color: #4b2e2e; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0;
}

nav {
    background-color: #8b4513; 
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    background-color: #ffcc00;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #b22222; 
    color: #ffff66;
}

div {
    display: inline-block;
    width: 45%;
    border: 2px dashed #8b4513;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fffaf0;
    box-shadow: 10px 10px 10px 10px;
}


h1, h2 {
    text-align: center;
    color: #5c4033;
}

input,button {
    border: 2px solid #800080;
    border-radius: 5px;
    width: 90%;
    padding: 8px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #8b4513;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #fff8dc;
    
}

th {
    background-color: #deb887;
    color: #4b2e2e;
}
